extends layout

block content
    br
    br
    div(class='container center')
        h5.
            Институт математики, механики и компьютерных наук ЮФУ
            в целях повышения образовательного качества проводит опрос студентов

    div(class= 'row center')
        div(class='col s4')
            img(src='images/sample.jpg' style='width:30%')
        div(class='col s4') Колонка 2
        div(class='col s4') Колонка 3