extends layout

block content

    nav
        div(class='nav-wrapper')
            a(href='#' class='brand-logo center') Logo
            ul(id='nav-mobile' class='left hide-on-med-and-down')

   //
    br
    br
    div(class='container center')
        h6.
            Институт математики, механики и компьютерных наук ЮФУ
            в целях повышения образовательного качества проводит опрос студентовa
        h3.
            Сервис анкетирования
        br
    div(class='container center')
        a(class='waves-effect waves-light btn', href='maintaining') Принять участие!
    br
    br
    div(class= 'row center')
        div(class='col s4')
            img(src='images/sample.jpg' class='fit_column')
            br. Примите участие в голосовании
            blockquote.
                Lorem ipsum dolor sit amet, nec dicat nusquam id, ferri eligendi eam no. Ius eu ludus choro urbanitas, mei odio errem qualisque ut. Ad amet altera officiis nec, etiam graeco eripuit qui ad. No prompta petentium omittantur pri. Ad qui integre apeirian. Virtute prodesset ius et, ne pro audiam latine probatus.
        div(class='col s4')
            // i(class='large material-icons') thumbs_up_down
            img(src='images/sample.jpg' class='fit_column')
            br. Все анонимно
            blockquote.
                Lorem ipsum dolor sit amet, nec dicat nusquam id, ferri eligendi eam no. Ius eu ludus choro urbanitas, mei odio errem qualisque ut. Ad amet altera officiis nec, etiam graeco eripuit qui ad. No prompta petentium omittantur pri. Ad qui integre apeirian. Virtute prodesset ius et, ne pro audiam latine probatus.
        div(class='col s4')
            img(src='images/sample.jpg' class='fit_column')
            br. Все открыто
            blockquote(class='gray-text').
                Lorem ipsum dolor sit amet, nec dicat nusquam id, ferri eligendi eam no. Ius eu ludus choro urbanitas, mei odio errem qualisque ut. Ad amet altera officiis nec, etiam graeco eripuit qui ad. No prompta petentium omittantur pri. Ad qui integre apeirian. Virtute prodesset ius et, ne pro audiam latine probatus.