/* In the center with small margins */
.t-spacing-col {
  width: 90%;
  margin: 0 auto;
}

/* To make padding in any div as in Materialize <p> */
.as-p-padding {
  padding: 2rem;
}

/* Different widths */
.w-100 {
  width: 100%;
}
.w-90 {
  width: 90%;
}

/* Stick to right */
.margin-to-right {
  margin-right: 0;
  margin-left: auto;
}



/* Mobile devices */
@media all and (max-width: 600px) {
  /* To make divs in line on small screens */
  .small-inline {
    display: inline;
  }
}



/* To fit button in a grid's width */
.btn-fit-div {
  display: block;
  width: 88%;     // small horizontal margin
  margin: auto
}



/* To make modal dialog window large */
.modal-large {
  width: 95% !important;
  max-height: 90% !important;
}



/* Mouse pointer for links */
.pointer {
  cursor: pointer;
}



/* Maybe unused, because Materialize has hide */
.hidden {
  display: none;
}
