.overflow-list {
  overflow: scroll;
}

/* For media queries Materialize definitions were used */

/* Desktop */
@media all and (min-width: 993px) {
  .overflow-list {
    max-height: 195px;
  }
}

/* Tablets */
@media all and (max-width: 992px) and (min-width: 601px) {
  .overflow-list {
    max-height: 130px;
  }
}

/* Mobile devices */
@media all and (max-width: 600px) {
  .overflow-list {
    max-height: 100px;
  }
}