extends ../../base/layout

// Some additional includes of styles and scripts
block includes
    link(rel='stylesheet' href='css/forms.css')

block content
    // Adding auth block for admin and errors in session checker
    include ../../blocks/admin-auth
    include ../../blocks/errors-toaster
    include ../../components/mixins

    // Setting main container and context for jQuery
    div(class='container maintaining-index-context')

        // If admin has authorized, showing him navigation menu
        if controller.authModule.isAdminAuthorized(session)
            div(class='row center')
                // Hiding spacing on small screens
                div.hide-on-small-only
                    br
                    br
                br

                // Title hint
                h5 Выберите необходимый раздел

                // Navigation buttons
                +create-nav-column('Формы',      'Здесь вы можете создавать формы для дальнейших опросов', '/maintaining/create')
                +create-nav-column('Опросы',     'Запуск опросов и управление активными голосованиями',    '/maintaining/schedule')
                +create-nav-column('Результаты', 'Просмотр результатов проведенных для студентов опросов', '/maintaining/results')

                div(class='col l6 m6 s12')
                    br
                    br
                    a(class='btn waves-effect waves-light blue lighten-2' href='/maintaining/disciplines') Дисциплины
                    p Управление существующими дисциплинами для опросов
                div(class='col l6 m6 s12')
                    br
                    br
                    a(class='btn waves-effect waves-light blue lighten-2' href='/maintaining/subjects') Данные для дисциплин
                    p Создание, обновление, удаление списка предметов и групп

        else
            // In other case showing prompt about authorization
            br
            br
            br
            +section-title('Чтобы получить доступ к управлению формами опросов, а также запускать анкетирования и отслеживать результаты голосований, необходимо авторизоваться', true)