extends ../../base/layout

// Some additional includes of styles and scripts
block includes
    link(rel='stylesheet' href='css/forms.css')

block content
    include ../../blocks/admin-auth
    include ../../blocks/errors-toaster

    p Корневая страница для администратора

    if controller.authModule.isAdminAuthorized()
        div.container KEK