extends ../../base/layout

// Some additional includes of styles and scripts
block includes
    link(rel='stylesheet' href='/css/forms.css')
    script(src='/js/stages.js')

// Login block and module to show errors, mixins usage
block content
    include ../../blocks/admin-auth
    include ../../blocks/errors-toaster
    include ../../components/mixins

    div(class='container')

        +section-title('Управление опросами')

        ul.collection
            li.collection-item
                div Дата проведения: с 21.12.93 по 12.11.94
                    br
                    span Используется форма Форма-1
                    br
                    span Для дисциплины Машинное обучение (Гуда С.А.) в группе ММ-1
                    a(href='#!' class='secondary-content')
                        i(id='1' class='material-icons red-text text-lighten-3') delete
            li.collection-item
                div Дата проведения: с 21.12.93 по 12.11.94
                    br
                    span Используется форма Форма-1
                    br
                    span Для дисциплины Машинное обучение (Гуда С.А.) в группе ММ-1
                    a(href='#!' class='secondary-content')
                        i(id='1' class='material-icons red-text text-lighten-3') delete

        +create-action-button('addStage', null)

        // Add stage dialog
        div(id='addStage' class='modal modal-large')
            // Content of the dialog
            div.modal-content
                h5 Запуск нового опроса
                br

                span Здесь что-то будет...

            // Action buttons for dialog
            div.modal-footer
                a(id='cancelStage' href='#!' class='modal-action modal-close waves-effect waves-teal btn-flat') Отмена
                a(id='submitStage' class='waves-effect waves-teal btn-flat') Запустить