doctype html
html
  head
    // declaring block for further extension (it will put described in render function content for title tag)
    title= title
    meta(name='viewport' content='width=device-width, initial-scale=1')

    // jquery (some materialize things uses it)
    script(type='text/javascript' src='https://code.jquery.com/jquery-2.1.1.min.js')

    // materialize
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js')
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet')

    // local styles (global - used in every derived page)
    link(rel='stylesheet', href='/css/main.css')
    link(rel='stylesheet', href='/css/sticky-footer.css')

    // local scripts (global for derived pages)
    script(src='/js/main.js' type='text/javascript')

    // for additional includes of styles and javascripts
    block includes

  body
    // block for extension
    block content

    // a base footer which will be visible in all pages
    br
    footer(class='page-footer transparent')
      div.container
        div(class='row center')
          span(class='grey-text') IT-лаборатория мехмата ЮФУ © 2016
