// If we've got some errors from server
- if (errors != null)
    script.
        // Lambda-function to avoid intersections of variables in code
        (function () {
            var errors = "#{errors}";
            Materialize.toast(errors, 5000)
        }());