extends ../../base/layout

block content
    br
    br
    br
    div.row
        div(class='col s12 center')
            h5.
                Результаты вашего анкетирования приняты!

    br
    br
    div(class='row center')
        a(class='btn waves-effect waves-light blue lighten-2' href='/survey') Продолжить участие в опросе