extends ../../base/layout

// Main block
block content

    // Including mixins to render title
    include ../../components/mixins

    br
    br
    br
    // Success label
    +section-title('Результаты вашего анкетирования приняты!', true)

    br
    // Continue button
    div(class='row center')
        a(class='btn waves-effect waves-light blue lighten-2' href='/survey') Продолжить участие в опросе