extends ../../base/layout

// Additional css includes for surveys page
block includes
    link(rel='stylesheet' href='/css/forms.css')
    link(rel='stylesheet' href='/css/surveys.css')

// Adding auth block for student and errors toaster
block content
    include ../../blocks/student-auth
    include ../../blocks/errors-toaster
    include ../../components/mixins

    // Showing disciplines chooser only if user has authorized
    if controller.authModule.getStudentsAuthorization(session)
        // Context for jQuery
        div(class='container surveys-index-context')

            // If there is no available surveys showing prompt about it
            - if (surveys.length === 0) {
                br
                br
                br
                +section-title('На текущий момент больше нет доступных для вас опросов', true)

            // Showing a list of surveys to make student choose one of them
            - } else {

                // Choose survey prompt
                +section-title('Выберите интересующий вас опрос')

                // Rendering list of all available surveys
                div(class='collection' id='surveys')
                    each survey in surveys
                        a(href='/survey/#{survey.id}' class='collection-item black-text').
                            #{survey.feedback_stage.feedback_form.name} (#{survey.discipline.subject}, #{survey.discipline.teacher})
            - }

    else
        // A prompt for unauthorized users to log in
        br
        br
        br
        +section-title('Чтобы принять участие в анкетировании, необходимо авторизоваться', true)
