extends ../../base/layout

// Additional js and css includes for surveys page
block includes
    link(rel='stylesheet' href='/css/forms.css')
    link(rel='stylesheet' href='/css/survey.css')
    script(src='/js/survey.js')
    script(src='/js/utils.js')

// Adding auth block for student and errors toaster
block content
    include ../../blocks/student-auth
    include ../../blocks/errors-toaster

    // Showing disciplines chooser only if user has authorized
    if controller.authModule.getStudentsAuthorization(session)
        // Context for jQuery
        div(class='container survey-index-context')

            // Discipline chooser
            div.discipline-chooser
                br
                br
                div(class='input-field col s12')
                    select(id='disciplines')
                        // Default value
                        option(disabled selected) Выберите дисциплину для опроса
                        each survey in surveys
                            option(value='#{survey.id}') #{survey.discipline.subject} (#{survey.discipline.teacher})
                    // Chooser title
                    label Выбранная дисциплина

                br
                br

            // Here will be added forms for chosen survey
            div.forms-list