extends ../base/layout
include ../components/mixins
// line above to use stated mixin(s)

block content

    //nav(class='blue lighten-2')
    //    div(class='container center').
    //        Институт математики, механики и компьютерных наук ЮФУ
    //        в целях повышения образовательного качества проводит опрос студентов

    // all content of page will be here
    div(class='container home-context')

        // |<br><br><br> to continue inner html of previous div
        br
        br
        br

        // adding centered title
        +section-title('Институт математики, механики и компьютерных наук ЮФУ в целях повышения образовательного качества проводит анкетирования студентов', true)

        br

        div(class='info-container', style='background-color: #d2f4ff; padding: 15px; text-align:center;')
            p Исходный код сервиса "Анкетирование студентов" выложен на Github <url>. Поэтому любой студент имеет возможность проверить наличие следующих трех свойств:
            ul
                li
                    p Анонимность. Таблица с ответами на вопросы анкеты хранит только ответы, но не идентификатор пользователя.
                li
                    p Уникальность. Для каждого пользователя хранится информация о том, что он ответил или не ответил на анкету, но без ссылки на сами ответы.
                li
                    p Авторизация. Для входа используются логины и пароли "Сервиса БРС".
 
            p Участники проекта по разработке (студенты и преподаватели):
            p Брагилевский В.Н., Колесников С.О., Коненко А.С., Кошманский А.А., Чердынцева М.И., Штейнберг Р.Б.

        // start survey button
        div(class='row center')
            a(class='btn waves-effect waves-light blue lighten-2' href='/survey') Принять участие

        br
        br
        br

        // to insert client-side scripts
        // script.
        //    console.log("test")

        // to insert server-side scripts
        // - for (var i = 0; i < 3; i++)
        //     h5 test



        // block with columns of descriptions
        div(class='row center')
            // hardcoded first column to show how it works
            div(class='col m4 s12')
                i(class='medium material-icons blue-text text-lighten-4') trending_up
                br
                br
                // you should be careful using indentation with |
                //|Приняв участие в опросе, вы поможете улучшить
                //|качество преподаваемых дисциплин,
                //|повысить их доступность и актуальность
                div.t-spacing-col.
                    Приняв участие в опросе, вы поможете улучшить
                    качество преподаваемых дисциплин,
                    повысить их доступность и актуальность
                br
                br

                //div(class='card')
                //    div(class='card-image')
                //        img(src='/img/test.jpg')
                //        // span(class='card-title') Заголовок карточки
                //    div(class='card-content')
                //        p.
                //            Приняв участие в опросе, вы поможете улучшить
                //            качество преподаваемых дисциплин,
                //            повысить их доступность и актуальность

            // sample of calling mixin, also can use mixin and mixin's name instead of +
            +col-proof('recent_actors', 'Анонимность голосования достигается хранением идентификаторов проголосовавших без связывания их анкет с авторизационными данными')

            // using mixins to create other 2 columns
            +col-proof('code', 'Вы можете ознакомиться с актуальным исходным кодом проекта в <a href="https://github.com/mmcs-sfedu/mmcs-form" target="_blank">репозитории на Github</a>')